<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hangman2025">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:label="Hangman 2025"
        android:icon="@drawable/ic_launcher_foreground"
        android:roundIcon="@drawable/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hangman2025">

        <activity android:name=".leaderboard.LeaderboardActivity" />
        <activity android:name=".auth.AuthActivity" />
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
